{% extends "base.html" %}
{% from "form_macros.html" import render_form %}
{% block content %}
<div class="container main">
  <div class="row">
    <div class="col-md-4">
      {{ render_form(form) }}
    </div>
    <div class="col-md-8">
      <table class="table">
        <thead>
          <th scope="col">ID</th>
          <th scope="col">Status</th>
          <th scope="col">Message</th>
          <th scope="col">Send On</th>
          <th scope="col">Sent On</th>
          <th scope="col">Delete</th>
        </thead>
        <tbody>
          {% if reminders %}
            {% for reminder in reminders %}
              <tr>
                <td>{{ reminder.id }}</td>
                <td>{{ reminder.status }}</td>
                <td>{{ reminder.message }}</td>
                <td>{{ reminder.send_on }}</td>
                <td>{% if reminder.sent_on %}{{ reminder.sent_on }}{% else %}N/A{% endif %}</td>
                <td class="text-center"><a href="{{ url_for('.delete_reminder', reminder_id=reminder.id) }}"><i class="fas fa-trash"></i></a></td>
              </tr>
            {% endfor %}
          {% else %}
            <tr><td class="text-center" colspan="6">No Reminders Added</td></tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
